version: "3.8"

services:
  nginx:
    image: nginx:latest
    container_name: dev-nginx
    ports:
      - "80:80"
    volumes:
      - ./sites:/etc/nginx/conf.d
      - ./nginx.conf:/etc/nginx/nginx.conf
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-network     
networks:
  app-network:
    driver: bridge